.page-template-page-obrigado header {
  background-color: #000;
}
.obgmain {
  margin-top: 120px;
  padding: 40px 0;
}
.obgmain .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.obgmain h1 {
  font-size: 32px;
  text-align: left;
  text-transform: none;
  font-weight: 600;
  color: #ff9023;
}
.obgmain h2 {
  font-size: 22px;
  font-weight: 500;
}
.loading {
  border: 10px solid #f3f3f3; /* cor da borda */
  border-top: 10px solid #ff9023; /* cor da borda superior */
  border-radius: 50%; /* formato circular */
  width: 40px; /* largura */
  height: 40px; /* altura */
  animation: spin 2s linear infinite; /* animação */
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  .obgmain .container {
    display: grid;
    text-align: center;
    gap: 0;
  }
  .obgmain {
    padding: 0;
  }
  .obgmain h1 {
    margin-top: 0;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  .obgmain h2 {
    font-size: 18px;
  }
  .loading {
    margin: 20px auto;
  }
  .obgmain img {
    grid-row: 2;
    margin-bottom: 20px;
  }
}
