.hero_zonas {
  height: 40vh;
  padding: 120px 0;
  background-size: cover !important;
}
.hero_zonas .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.contcorrido {
  background: #fff;
}
@media (max-width: 700px) {
  .hero_zonas {
    height: auto;
  }
}
